

.cardAkafi{
   width: 18rem;
}
.passedImage{
  width: 286px;
  height: 150px;
}
/* .passedImage:hover{
    transform: scale(2) translateX(25%) translateY(30%);
    border-radius: 5PX;
    transform: rotateX('angle');
    transform: rotateY('10');
  } */
/* .passedImageRight:hover{
    transform: scale(2) translateX(-25%) translateY(30%);
    border-radius: 5PX;
    transform: rotateX('angle');
    transform: rotateY('10');
  } */